<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Under Maintenence
        </title>
    </head>
    <body>
        <h1>We'll be right back!</h1>
        <p>Undergoing maintenence, we'll be back online soon.</p>
        
        {{> footer}}
    </body>
</html>